<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-success">
          <div class="panel-body">
            <form class="form">
              <div class="form-group">
                <label for="line">Line</label>
                <select class="form-control" name="line" v-model="form.line">
                  <option :value="null">Show All</option>
                  <option :value="line.text" v-for="(line, key) in lines" :key="key">{{ line.text }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control" v-model="form.report_date" />
              </div>
            </form>

            <div class="col-md-12">
              <canvas id="myChart" width="400" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="panel panel-success">
          <div class="panel-body">
            <canvas id="lineChart" width="400" height="250"></canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import Chart from "chart.js";
import axios from "axios";
export default {
  mounted() {
    this.fillComboboxLine();
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, "0");
    var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + "-" + mm + "-" + dd;
    this.form.report_date = today;
    this.renderChart();
    // this.renderLineChart();
  },
  data() {
    return {
      url: {
        summary_perline: "./api/dashboard/summary_perline",
        productivity_per_date: "./api/dashboard/productivity_per_date"
      },
      lines: [],
      form: {
        line: null,
        report_date: "2020-07-15"
      },
      properties: {
        type: "bar",
        data: null,
        options: {
          animation: {
            duration: 0
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      },
      barChart: null,
      lineChart: null
    };
  },

  watch: {
    "form.line": function(newVal, oldVal) {
      console.log({ newVal, oldVal });
      this.renderChart();
    },
    "form.report_date": function(newVal, oldVal) {
      console.log({ newVal, oldVal });
      this.renderChart();
    }
  },

  computed() {},

  methods: {
    fillComboboxLine(){
      axios.get('api/lines/combo', {
        headers : {
          Accept : "application/json"
        }
      }).then(res => res.data)
      .then(res => {
        console.log({res});
        if(res.success){
          this.lines = res.data;
        }
      })
      .catch(error => {
        window.alert(error);
      })
    },

    renderChart() {
      const url = this.url.summary_perline;
      let params = this.form;
      axios
        .get(url, {
          params
        })
        .then(res => res.data)
        .then(data => {
          console.log(data);
          this.properties.data = this.convertData(data.data);
          const properties = this.properties;
          console.log({ properties });
          var ctx = document.getElementById("myChart");
          this.barChart = new Chart(ctx, this.properties);
          // this.barChart.update();
        })
        .catch(error => {
          console.log(error);
          axios.error(error);
        });
    },

    renderLineChart() {
      var ctx = document.getElementById("lineChart");
      const url = this.url.productivity_per_date;
      axios
        .get(url)
        .then(res => res.data)
        .then(data => data.data)
        .then(data => {
          console.log(data);
          this.lineChart = new Chart(ctx, {
            type: "line",
            data: this.convertLineChart(data, "report_date", this.lines.map(line => line.text)),
            options: {
              animation: {
                  duration: 0
              },
              scales: {
                yAxes: [
                  {
                    ticks: {
                      beginAtZero: true
                    }
                  }
                ]
              }
            }
          });

          // this.lineChart.update();
        })
        .catch(error => {
          axios.error(error);
        });
    },

    getRandomColor(a = 1) {
      let r = Math.floor(Math.random() * 255) + 1; // between 1-255
      let g = Math.floor(Math.random() * 255) + 1; // between 1-255
      let b = Math.floor(Math.random() * 255) + 1; // between 1-255

      //result = "rgba(255, 99, 132, 0.2)"

      return `rgba(${r}, ${g}, ${b}, ${a})`;
    },

    convertData(
      params = [],
      labelParam = "line",
      keys = [
        "productivity",
        "efficiency",
        "rate_of_operation",
        "rate_of_attendance"
      ]
    ) {
      /*
      from : [{
        efficiency: 0.13836551724138
        line: "MA 04"
        productivity: 0.13836551724138
        rate_of_attendance: 1
        rate_of_operation: 1
        report_date: "2020-03-11"
      }],
      */

      let labels = [];
      let datasets = [];
      let data = [];
      let backgroundColor = [];
      let borderColor = [];
      let datasetMap = {};
      let dataMap = {};
      let color = {};
      params.forEach(element => {
        labels.push(element[labelParam]);
        // backgroundColor.push(this.getRandomColor(0.2));
        // borderColor.push(this.getRandomColor(1));

        keys.forEach(key => {
          if (dataMap[key] == undefined) {
            dataMap[key] = [];
          }

          if (datasetMap[key] == undefined) {
            datasetMap[key] = [];
          }

          if (color[key] == undefined) {
            color[key] = {
              bgcolor: this.getRandomColor(0.2),
              bdColor: this.getRandomColor(1)
            };
          }

          dataMap[key].push(element[key]); //
          let label = `# ${key}`;

          datasetMap[key] = {
            label,
            data: dataMap[key],
            backgroundColor: color[key].bgcolor,
            borderColor: color[key].bdcolor,
            borderWidth: 1
          };
        });
      });

      for (let k in datasetMap) {
        datasets.push(datasetMap[k]);
      }
      // console.log({ datasetMap, datasets, dataMap });

      let result = { labels, datasets: datasets };
      // console.log(result);
      return result;
      /*
      to : {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }
          ]
        } */
    },
    
    convertLineChart(
      params = [],
      labelParam = "line",
      keys = [
        "productivity",
        "efficiency",
        "rate_of_operation",
        "rate_of_attendance"
      ]
    ) {
      

      let labels = [];
      let datasets = [];
      let data = [];
      let backgroundColor = [];
      let borderColor = [];
      let datasetMap = {};
      let dataMap = {};
      let color = {};
      params.forEach(element => {
        labels.push(element[labelParam]);

        keys.forEach(key => {
        console.log({element, key}, "bangke");
          if (dataMap[key] == undefined) {
            dataMap[key] = [];
          }

          if (datasetMap[key] == undefined) {
            datasetMap[key] = [];
          }

          if (color[key] == undefined) {
            color[key] = {
              bgcolor: this.getRandomColor(0.2),
              bdColor: this.getRandomColor(1)
            };
          }

          dataMap[key].push(element['productivity']); //
          let label = `# ${key}`;

          datasetMap[key] = {
            label,
            data: dataMap[key],
            backgroundColor: color[key].bgcolor,
            borderColor: color[key].bdcolor,
            borderWidth: 1
          };
        });
      });

      for (let k in datasetMap) {
        datasets.push(datasetMap[k]);
      }
      // console.log({ datasetMap, datasets, dataMap });

      let result = { labels, datasets: datasets };
      // console.log(result);
      return result;
      /*
      to : {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }
          ]
        } */
    }
  }
};
</script>

<style></style>
