
<script>
import { Pie, mixins } from 'vue-chartjs'
import axios from 'axios';
import helper from '../helper';
const { reactiveProp } = mixins

export default {
  extends: Pie,
  mixins: [reactiveProp],
  props: ['options', 'styles', 'url', 'title'],
  mounted () {
    this.fetchData();
  },
  methods:{
    fetchData(){
      let chartData = {};
      axios.get(this.url)
      .then(res => res.data)
      .then(res => {
          chartData = helper.formatChart({...res, ...this.chartData}, this.title );

          // console.log( chartData, "alkjsdfaklj");
          //  this.chartData is created in the mixin.
          // If you want to pass options please create a local options object
          
          this.renderChart( chartData, this.options)
      })
    }
  }
}
</script>

<style>

</style>