<template>
  <div>
    <crud-server-table
      ref="table"
      :title="'Actual Direct Operation Hours'"
      :url="'./api/actual_direct_op_hours'"
      :columns="columns"
      :options="options"
      :additionalForm="additionalForm"
      :defaultForm="defaultForm"
      :excludedForm="excludedForm"
      :attrs="attrs"
    >
      <div slot-scope="props" slot="model-create">
        <label for="model">Model</label>

        <v-select v-model="props.model" 
          :options="autocompleteOptions" 
          label="Model"
          @option:selected="modelSelected"
          @search="fetchOptions" >
            <template slot="no-options">
              type to search data standard_time..
            </template>
            <template slot="option" slot-scope="option">
              <div class="d-center">
                {{ option.Model }}
                </div>
            </template>
            <template slot="selected-option" slot-scope="option">
              <div class="selected d-center">
                {{ option.Model }}
              </div>
            </template>
        </v-select>
      </div>

      <div slot-scope="props" slot="model-edit">
        <label for="model">Model</label>
        
        <v-select v-model="props.formEdit.model" 
          :options="autocompleteOptions" 
          label="Model"
          @option:selected="modelSelected"
          
          @search="fetchOptions" >
            <template slot="no-options">
              type to search data standard_time..
            </template>
            <template slot="option" slot-scope="option">
              <div class="d-center">
                {{ option.Model }}
                </div>
            </template>
            <template slot="selected-option" slot-scope="option">
              <div class="selected d-center">
                {{ option.Model }}
              </div>
            </template>
        </v-select>
      </div>
      
      <div slot="afterAddBtn">
        <div class="mt">
          <button type="button" class="btn btn-warning" @click="importProdRes">Import production results</button>
        </div>
      </div>
      
    </crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./Navigations.vue";
import helper from '../helper';
import vSelect from 'vue-select';
import _ from 'lodash';
import axios from 'axios';
import toastr from 'toastr';

export default {
  mounted() {
    // console.log(this.$route);
    this.fetchConfig();
  },
  watch: {
    "$route.query.operation_summary_id": function(newVal, oldVal) {
      try {
        const table = this.$refs.table;
        let children = table.$children;
        let tbl = children[0];
        tbl.getData();
        console.log("operation_summary_id changes", tbl);
      } catch (error) {
        console.error(error);
      }
    }
  },
  data() {
    return {
      columns: ["model", "qty", "standard_time", "total"],

      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.operation_summary_id) {
            data.query.operation_summary_id = this.$route.query.operation_summary_id;
          }

          let params = {
            ...data,
            operation_summary_id: this.$route.query.operation_summary_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },

      defaultForm: {
        qty: "number",
        // standard_time: "number",
        total: "number"
      },

      additionalForm : {
        operation_summary_id: this.$route.query.operation_summary_id,
        total: '-',
        model: null,
        standard_time : null
      },

      attrs: {
        standard_time: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        }
      },

      autocompleteOptions : [], //untuk list model v-select

      excludedForm: ["total"],

      // configs: {},
      std_time_url : "http://136.198.117.80/std_time/api/public/summaries",

    };
  },
  methods: {
    fetchConfig(){
      axios.get('./api/configs')
        .then(res => res.data)
        .then(res => {
          console.log(res);
          this.std_time_url = res.data.std_time_url;
        })
        .catch(error => {
          toastr.error(error);
        })
    },

    modelSelected(data){
      console.log({
        data, additionalForm: this.additionalForm
      });

      this.additionalForm.model = data.Model;
      this.additionalForm.standard_time = data.FA_STD_TIME + data.PCB_STD_TIME; //data.TOTAL_STD_TIME;
      
      this.$refs.table.form.model = data.Model;
      this.$refs.table.form.standard_time = data.FA_STD_TIME + data.PCB_STD_TIME; //data.TOTAL_STD_TIME;
      
      if(this.$refs.table.formEdit){
        this.$refs.table.formEdit.model = data.Model;
        this.$refs.table.formEdit.standard_time = data.FA_STD_TIME + data.PCB_STD_TIME; //data.TOTAL_STD_TIME;
      }


    },

    fetchOptions(search, loading) {
      // connsole.log({search, loading})
      if(search.length) {
        loading(true);
        this.search(loading, search, this);
      }
    },

    importProdRes(){
      let params = {
        operation_summary_id: this.$route.query.operation_summary_id,
        report_header_id: this.$route.query.report_header_id,
      };

      console.log('import prod res triggered', params);
      axios.post('./api/actual_direct_op_hours/import_from_prod_res', params).then(res => res.data)
      .then(res => {
        console.log({res});
        toastr.success(res.message || "data imported!")
        location.reload();
      })
      .catch(error => {
        toastr.error(error);
      })
    },

    search: _.debounce((loading, search, vm) => {
      // fetch(
      //   `https://api.github.com/search/repositories?q=${escape(search)}`
      // ).then(res => {
      //   res.json().then(json => (vm.autocompleteOptions = json.items));
      //   loading(false);
      // });
      console.log({ search, url : vm.std_time_url });
      let filter = JSON.stringify([{
        property : "Model",
        value : search,
        anyMatch : true,
        caseSensitive : false
      }]);

      axios.get( vm.std_time_url, {
        headers:{
          Accept : "application/json",
          "Content-Type" : "application/json"
        },
        params : {
          filter : filter
        }
      })
        .then(res => res.data)
        .then(res => {
          console.log(res);
          vm.autocompleteOptions = res.data;
          loading(false);
        })
        .catch(error => {
          loading(false);
          console.log(error);
          toastr.error(error);
        });

    }, 350),


  },
  components: { ReportHeaderInfo, CrudServerTable, Navigations, vSelect }
};
</script>

<style scoped>
</style>