<template>
  <div>
    <production-result-info :noAction="noAction" @afterSubmit="afterSubmitPR"></production-result-info>
    <loss-time-info :noAction="noAction" @afterSubmit="afterSubmitIOLT"></loss-time-info>
    <!-- <indirect-oph-lost-time ref="IOLT"></indirect-oph-lost-time> -->
    <change-model-report :noAction="noAction"></change-model-report>
    <trial-ng-set :noAction="noAction"></trial-ng-set>
    <change-member :noAction="noAction"></change-member>
    <operation-summary :noAction="noAction"></operation-summary>
  </div>
</template>

<script>
import newNav from './NewNav.vue';
import ReportHeaderInfo from "./admin/ReportHeaderInfo.vue";
import ProductionResultInfo from "./ProductionResults.vue";
import LossTimeInfo from "./LossTimeReport.vue";
import ChangeModelReport from "./ChangeModelReport.vue";
import TrialNgSet from "./TrialNgSet.vue";
import ChangeMember from "./ChangeMemberReport.vue";
import BalanceSetCondition from "./BalanceSetCondition.vue";
import OperationSummary from "./OperationSummary.vue";
import IndirectOphLostTime from "./admin/IndirectOphLostTimeInfo.vue";
import Shift from "./Shift.vue";
import toastr from "toastr";
export default {
  mounted() {
    this.fetchUserLogin();
  },
  data() {
    return {
      noAction: true,
      userConfig: false,
      shiftApprove: ""
    };
  },
  methods: {
    shiftOnChange({ value }) {
      // console.log("INI SHIFT LHO :: ", e);
      this.shiftApprove = value;
    },
    fetchUserLogin() {
      axios
        .get("../userlogin")
        .then(data => {
          return data.data;
          // if (data.data.role_id == "1" || data.data.role_id == "3") {
          //   this.noAction = false;
          // }
        })
        .then(data => {
          // console.log("USERLOGIN ::: ", data);
          if (
            (data.users.role_id == "1" || data.users.role_id == "3") &&
            data.userConfig !== 0
          ) {
            this.noAction = false;
            this.userConfig = true;
          }
          if (data.users.role_id == "4" && data.userConfig !== 0) {
            this.noAction = true;
            this.userConfig = true;
          }
        });
    },
    approveOnClick() {
      let shiftApprove = this.shiftApprove;
      const reportHeader = this.$route.query;
      let reportHeaderId = reportHeader.id;

      if (shiftApprove != "") {
        // toastr.success("Shift terpilih " + shiftApprove, "SUCCESS");
        let hostname = location.origin + "/production_report/public";
        const url =
          hostname +
          "/approved?reportHeaderId=" +
          reportHeaderId +
          "&shift=" +
          shiftApprove;
        let listApproval = this.$refs.listApproval;
        axios
          .get(url)
          .then(response => {
            toastr.success(response.data.message);
            listApproval.userApproval();
          })
          .catch(error => {
            toastr.error(error.response.data.message);
            listApproval.userApproval();
          });
      } else {
        toastr.error("Pilih Shift dulu", "ERROR");
      }
    },
    afterSubmitPR() {
      let balanceSet = this.$refs.balanceSet;
      let table1 = balanceSet.$refs.table;
      table1.getData();

      let listApproval = this.$refs.listApproval;
      listApproval.userApproval();
    },
    afterSubmitIOLT() {
      let IOLT = this.$refs.IOLT;
      let IOLT2 = IOLT.$refs.table;
      let table2 = IOLT2.$refs.table;
      table2.getData();
    }
  },
  components: {
    ReportHeaderInfo,
    ProductionResultInfo,
    LossTimeInfo,
    ChangeModelReport,
    TrialNgSet,
    ChangeMember,
    BalanceSetCondition,
    OperationSummary,
    IndirectOphLostTime,
    Shift,
    newNav
  }
};
</script>

<style>

</style>