<template>
  <div class="container-fluid">
    <report-header-info></report-header-info>
    <navigations></navigations>

    <crud-server-table
      ref="table"
      :title="'Balance Set Conditions'"
      :url="'./api/balance_set_conditions'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.report_header_id,
      }"
      :defaultForm="defaultForm"
    ></crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./NewNav.vue";
export default {
  mounted() {
    // console.log(this.$route);
  },
  data() {
    return {
      columns: ["model", "qty", "remarks", "shift"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.report_header_id = this.$route.query.report_header_id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function (e) {
              this.dispatch("error", e);
            });
        },
      },
      defaultForm: {
        qty: "number",
      },
    };
  },
  methods: {},
  components: { ReportHeaderInfo, CrudServerTable, Navigations },
};
</script>

<style></style>
