<template>
  <div class="container-fluid">
    <report-header-info v-if="false"></report-header-info>
    <navigations v-if="false"></navigations>

    <crud-server-table
      ref="table"
      :title="'Change Member Report'"
      :url="'./api/change_member_reports'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.report_header_id,
      }"
      :defaultForm="defaultForm"
    >
      <div slot="is_change-create" slot-scope="data">
        <label for>Is Change</label>
        <div class="form-control">
          <input
            type="radio"
            id="YES"
            value="YES"
            v-model="data.form.is_change"
          />
          <label for="YES">YES</label>
          <input
            type="radio"
            id="NO"
            value="NO"
            v-model="data.form.is_change"
          />
          <label for="NO">NO</label>
        </div>
      </div>

      <div slot="is_change-edit" slot-scope="data">
        <label for>Is Change</label>
        <div class="form-control">
          <input
            type="radio"
            id="YES"
            value="YES"
            v-model="data.formEdit.is_change"
          />
          <label for="YES">YES</label>
          <input
            type="radio"
            id="NO"
            value="NO"
            v-model="data.formEdit.is_change"
          />
          <label for="NO">NO</label>
        </div>
      </div>
    </crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./Navigations.vue";
export default {
  mounted() {
    // console.log(this.$route);
  },
  data() {
    return {
      columns: ["is_change", "shift", "remark"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.report_header_id = this.$route.query.report_header_id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        },
      },
      defaultForm: {},
    };
  },
  methods: {},
  components: { ReportHeaderInfo, CrudServerTable, Navigations },
};
</script>

<style></style>
