<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>panel title</h3>
          </div>

          <div class="panel-body">
            <v-client-table></v-client-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>