<template>
  <div>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
          </div>
          <div class="panel-body">
            <v-server-table
              @loading="onLoading"
              @loaded="
                (e) => {
                  $emit('loaded', e);
                }
              "
              ref="table"
              :url="url"
              :columns="tableColumns"
              :options="tableOptions"
            >
              <div slot="beforeTable">
                <slot name="beforeTable"></slot>
              </div>

              <div slot="actions" slot-scope="props">
                <div v-if="!noAction">
                  <slot name="actions">
                    <button
                      class="btn btn-info mb"
                      @click.prevent="showEdit(props.row.id, props.row)"
                    >
                      <i class="fa fa-edit"></i> Edit
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger"
                      @click.prevent="deleteRow(props.row.id)"
                    >
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </slot>
                </div>

                <slot name="additionalActions" :row="props.row" :id="props.row.id"></slot>
              </div>

              <slot name="afterTable" slot-scope="props"></slot>
            </v-server-table>
            <button
              @click="showAddForm"
              type="button"
              class="btn btn-success"
              v-if="showAddButton"
            >Add</button>

            <slot name="afterAddBtn"></slot>
          </div>
        </div>
      </div>
    </div>

    <modal :name="'create-data' + id" height="auto" :scrollable="true" :pivotY="0.2">
      <div slot="top-right">
        <button @click="closeModal('create-data')">❌</button>
      </div>
      <div class="container-fluid">
        <div class="row mx">
          <div class="col-md-12">
            <form class="form" @submit.prevent="formSubmit" action="#" method="post">
              <div v-for="(value, key) in form" class="form-group" :key="key">
                <slot :name="key + '-create'" :form="form">
                  <label :for="key">{{ key }}</label>
                  <input
                    v-if="key != 'shift'"
                    :type="getDefaultType(key)"
                    v-bind="computedAttrs(key)"
                    class="form-control"
                    :name="key"
                    :placeholder="key + ' value'"
                    v-model="form[key]"
                    @input="forceUpper($event, form, key)"
                    :required="(requiresData[key])?requiresData[key] : null"
                  />

                  <shift v-if="key == 'shift'" :value="form.shift" @on-change="shiftOnChange"></shift>
                </slot>
              </div>

              <button class="btn btn-success">Submit</button>
              <button @click="closeModal('create-data')" class="btn btn-danger" type="button">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </modal>

    <modal :name="'edit-data' + id" height="auto" :scrollable="true" :pivotY="0.2">
      <div slot="top-right">
        <button @click="closeModal('edit-data')">❌</button>
      </div>
      <div class="container-fluid">
        <div class="row mx">
          <div class="col-md-12">
            <form
              class="form"
              @submit.prevent="formEditSubmit(formEdit.id)"
              action="#"
              method="put"
              v-on:changes-data="changesData"
            >
              <div v-for="(value, key) in formEdit" :key="key">
                <!-- kalau bukan created_at baru  -->
                <slot :name="key + '-edit'" :slot-scope="formEdit" :formEdit="formEdit">
                  <div class="form-group" v-if="hiddenFields.includes(key) == false">
                    <label :for="key">{{ key }}</label>
                    <input
                      :type="getDefaultType(key)"
                      v-if="key != 'shift'"
                      v-bind="computedAttrs(key)"
                      class="form-control"
                      :name="key"
                      :placeholder="key + ' value'"
                      v-model="formEdit[key]"
                      @input="forceUpper($event, formEdit, key)"
                      :required="(requiresData[key])?requiresData[key] : null"
                    />

                    <shift
                      v-if="key == 'shift'"
                      :value="formEdit.shift"
                      @on-change="shiftEditOnChange"
                    ></shift>
                  </div>
                </slot>
              </div>

              <button class="btn btn-success">Submit</button>
              <button type="button" @click="closeModal('edit-data')" class="btn btn-danger">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";
import toastr from "toastr";
import Shift from "./Shift.vue";
import helper from "../helper";
export default {
  props: {
    url: String,
    columns: Array,
    options: Object,
    title: String,
    additionalForm: Object,
    formType: Object,
    attrs: Object,
    defaultForm: Object,
    noAction: {
      default: false,
      type: Boolean
    },
    noAddAction: {
      default: false,
      type: Boolean
    },
    excludedForm: {
      type: Array,
      default() {
        if (this.noAction) {
          return [];
        } else {
          return ["actions"];
        }
      }
    },
    defaultFormValues: {
      type: Object,
      default() {
        return {};
      }
    }
  },

  mounted() {
    this.fetchRequiredColumnSetting();
    this.setForm();
  },
  data() {
    return {
      form: {},
      formEdit: null, //default value of formEdit
      hiddenFields: [
        "id",
        "report_header_id",
        "created_at",
        "updated_at",
        "created_by"
      ],
      requiresData: {}
    };
  },
  computed: {
    id() {
      return this.title.split(" ").join("_");
    },

    showAddButton() {
      if (!this.noAddAction) {
        return !this.noAction;
      }
    },
    // combine props options with default options
    tableOptions() {
      return {
        ...this.options,
        responseAdapter(resp) {
          var data = this.getResponseData(resp);
          console.log({ resp, data });
          return { data: data.data, count: data.total };
        }
      };
    },

    tableColumns() {
      // if (!this.noAction) {
      this.columns.unshift("actions");
      // }

      return this.columns;
    },

    fullForm() {
      let createdBy = {
        created_by: helper.getUsername()
      };

      return {
        ...this.form,
        ...this.additionalForm,
        ...createdBy
      };
    },

    computedFormType() {
      return typeof formType != "undefined" ? formType[key] : "text";
    }
  },
  methods: {
    showAddForm(){
      this.setForm(); //reset add
      this.showModal('create-data');
    },

    setForm(params = null){
      let form = {};
      if(params) {
        let object = this.initForm();
        for (const key in object) {
          if (Object.hasOwnProperty.call(object, key)) {
            const element = object[key];
            form[key] = (params[key] != undefined) ? params[key] : null;
            console.log({
              paramsValue : params[key],
              key,
              element,
              'formValue': form[key]
            })
          }
        }
      }else{
        form = this.initForm();
      }

      console.log('setform triggered', form);
      this.form = form;

    },

    forceUpper(e, o, prop) {
      console.log('input', {e, o, prop})
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toUpperCase();
      this.$set(o, prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },

    getDefaultType(key) {
      if (this.defaultForm) {
        if (this.defaultForm[key]) return this.defaultForm[key];
      }

      return "text";
    },

    fetchRequiredColumnSetting() {
      axios
        .get(this.url + "/required_columns")
        .then(res => res.data)
        .then(data => {
          this.requiresData = data;
        })
        .catch(error => {
          toastr.error(error);
        });
    },

    shiftOnChange(data) {
      // console.log({ data }, "shiftOnChange");
      this.form.shift = data.value;
    },

    shiftEditOnChange(data) {
      this.formEdit.shift = data.value;
    },

    initForm() {
      let form = {};
      const excluded = this.excludedForm;
      excluded.push("actions"); //actions selalu di excludes
      console.log(excluded);
      this.columns.forEach(column => {
        if (excluded.includes(column)) {
          return; // kalau actions mah lewat
        }
        form[column] = null;
        // default value for shift
        if (column == "shift") {
          form[column] = "A";
        }

        if (this.defaultFormValues[column]) {
          form[column] = this.defaultFormValues[column];
        }
      });

      return form;
    },

    onSearch() {
      if (this.start_date > this.end_date) {
        Toastr.error("start date should be earlier than end date");
        this.resetDate();
        return;
      }

      const MAX_RANGE = 14;
      let start_date = moment(this.start_date);
      let end_date = moment(this.end_date);
      let diff = end_date.diff(start_date, "days");
      let range_too_much = diff > MAX_RANGE;
      if (range_too_much) {
        Toastr.error("maximum range is " + MAX_RANGE + " days");
        this.resetDate();
        return;
      }

      const q = this.run_date;
      this.search(
        {
          start_date: this.start_date,
          end_date: this.end_date
        },
        this
      );
    },

    search: _.debounce((q, self) => {
      console.log("debounce");
      self.fetchSchedules(q);
    }, 500),

    showModal(name = "create-data") {
      this.$modal.show(name + this.id);
    },

    closeModal(name = "create-data") {
      this.$modal.hide(name + this.id);
    },

    formSubmit() {
      axios
        .post(this.url, this.fullForm)
        .then(res => {
          console.log({ res });
          return res.data;
        })
        .then(data => {
          // console.log("saving data :::", { data });
          this.refresh();
          this.form = this.initForm();
          this.closeModal("create-data");
          this.$emit("afterSubmit");
          toastr.success("Data Saved");
        })
        .catch(error => {
          console.log(error);
          if (error.response) {
            let data = error.response.data;
            let msg = data.message ? data.message : "something went wrong";
            if (data.errors) {
              const errors = data.errors;
              for (const key in errors) {
                if (errors.hasOwnProperty(key)) {
                  const messages = errors[key];
                  messages.forEach((message, index) => {
                    msg += "\n" + message;
                  });
                }
              }
            }
            toastr.error(msg || "something went wrong");
            return;
          }
          toastr.error(error || "something went wrong");
        });
    },

    formEditSubmit(id) {
      axios
        .put(this.url + "/" + id, this.formEdit)
        .then(res => {
          console.log({ res });
          return res.data;
        })
        .then(data => {
          console.log({ data });
          this.refresh();
          this.closeModal("edit-data");
          toastr.success(data.message || "Data updated");
          this.$emit("afterSubmit");
        })
        .catch(error => {
          console.log(error);
          if (error.response) {
            let data = error.response.data;
            let msg = data.message ? data.message : "something went wrong";
            if (data.errors) {
              const errors = data.errors;
              for (const key in errors) {
                if (errors.hasOwnProperty(key)) {
                  const messages = errors[key];
                  messages.forEach((message, index) => {
                    msg += "\n" + message;
                  });
                }
              }
            }
            toastr.error(msg || "something went wrong");
            return;
          }
          toastr.error(error || "something went wrong");
        });
    },

    refresh() {
      this.$refs.table.refresh();
    },

    deleteRow(id) {
      console.log("data deleted ", id);

      // show confirmations first

      axios
        .delete(this.url + "/" + id)
        .then(res => res.data)
        .then(data => {
          console.log(data);
          this.refresh();
          toastr.success(data.message || "data deleted");
          this.$emit("afterSubmit");
        })
        .catch(error => {
          console.log(error);
          if (error.response) {
            let data = error.response.data ? error.response.data : null;
            let msg = data ? data.message : "something went wrong ";
            toastr.error(msg);
          }
        });
    },

    showEdit(id, data) {
      // console.log({ id, data });
      const excluded = this.excludedForm;
      let res = {};
      for (var i in this.columns) {
        let key = this.columns[i];
        if (excluded.includes(key)) {
          continue; // kalau actions mah lewat
        }

        res[key] = data[key];
      }

      res["id"] = id;

      this.formEdit = res;

      this.showModal("edit-data");
    },

    changesData(dataname, key, value) {
      console.log({
        dataname,
        key,
        value
      });
      // this[dataname][key] = value;
    },

    onLoading(e) {
      console.log({ e });
      this.$emit("loading", e);
    },

    computedAttrs(key) {
      return typeof this.attrs != "undefined" ? this.attrs[key] : null;
    }
  },
  components: { Shift }
};
</script>

<style lang="scss" scoped>
.mx {
  margin-bottom: 20px;
  margin-top: 20px;
}

.mb {
  margin-bottom: 5px;
}

tbody {
  display: block;
  max-height: 100px;
  overflow-y: scroll;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
thead {
  width: calc(
    100% - 1.3em
  ); /* scrollbar is average 1em/16px width, remove it from thead width */
}
</style>
