<template>
  <div>
    <crud-server-table
      ref="table"
      :title="'Indirect Lost Time'"
      :url="'./api/indirect_lost_times'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        operation_summary_id : $route.query.operation_summary_id
      }"
      :defaultForm="defaultForm"
    ></crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./Navigations.vue";
export default {
  mounted() {
    // console.log(this.$route);
  },
  data() {
    return {
      columns: ["loss_time_type", "loss_time_value"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.operation_summary_id = this.$route.query.operation_summary_id;
          }

          let params = {
            ...data,
            operation_summary_id: this.$route.query.operation_summary_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        loss_time_value: "number"
      }
    };
  },
  methods: {},
  components: { ReportHeaderInfo, CrudServerTable, Navigations }
};
</script>

<style></style>
