<template>
  <div>
    <crud-server-table
      ref="table"
      :title="'Indirect Operation Hours'"
      :url="'./api/indirect_op_hours'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        operation_summary_id: $route.query.operation_summary_id,
      }"
      :defaultForm="defaultForm"
      @afterSubmit="refreshOpSummary"
    >
      <!-- create -->
      <div class="form-group" slot-scope="props" slot="type-create">
        <label for="type">type</label>
        <select class="form-control" name="type" v-model="props.form.type">
          <option v-for="(value, key) in types" :value="value.text" :key="key">{{ value.text }}</option>
        </select>
      </div>
      <!-- update -->
      <div class="form-group" slot-scope="props" slot="type-edit">
        <label for="type">type</label>
        <select class="form-control" name="type" v-model="props.formEdit.type">
          <option v-for="(value, key) in types" :value="value.text" :key="key">{{ value.text }}</option>
        </select>
      </div>
    </crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./Navigations.vue";
export default {
  mounted() {
    // console.log(this.$route);
    this.fetchTypes();
  },
  data() {
    return {
      columns: ["type", "value"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.operation_summary_id = this.$route.query.operation_summary_id;
          }

          let params = {
            ...data,
            operation_summary_id: this.$route.query.operation_summary_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      types: [],
      defaultForm: {
        qty: "number"
      }
    };
  },

  watch: {
    "$route.query.operation_summary_id": function(newVal, oldVal) {
      try {
        const table = this.$refs.table;
        let children = table.$children;
        let tbl = children[0];
        tbl.getData();
        // console.log("operation_summary_id changes", tbl);
      } catch (error) {
        console.error(error);
      }
    }
  },
  methods: {
    fetchTypes() {
      axios
        .get("./api/master_indirect_op_hours/combo")
        .then(res => res.data)
        .then(data => {
          this.types = data.data;
        })
        .catch(error => {
          console.log(error);
        });
    },

    refreshOpSummary(){
      location.reload();
    }
  },
  components: { ReportHeaderInfo, CrudServerTable, Navigations }
};
</script>

<style></style>
