<template>
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">REPORTS</div>
                <div class="panel-body">
                    <h2 class="text-center">
                    <a href="./home">CREATE NEW REPORT</a>
                    </h2>

                    <br>
                    <crud-server-table 
                      :noAction="true"
                      :columns="columns"
                      :url="url"
                      :options="opt"
                      :title="'LOSS TIME'"
                    />
                </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form form-inline"  @submit.prevent="refreshChart">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          
                          <div class="form-group" >
                              type :
                              <select class="form-control" name="type" id="type" v-model="form.type">
                              <option v-for="type in types" :key="type" :value="type">{{ type }}</option>
                            </select>
                          </div>

                          <div class="form-group" >
                              start_date
                              <input class="form-control" type="date" name="start_date" id="start_date" v-model="form.start_date">
                          </div>
                          <div class="form-group">
                              end date
                              <input class="form-control" type="date" name="end_date" id="end_date" v-model="form.end_date">
                          </div>

                          <div class="form-group">
                            <label for="line">Line Name</label>
                            
                            <v-select
                              v-model="form.line" 
                              :options="lines" 
                              label="line"
                              placeholder="line"
                              multiple
                            ></v-select>
                          </div>

                          <button class="btn btn-success">refresh chart</button>
                        </div>
                      </div>
              </form>
              <h3 class="text-center">{{chart_name}}</h3>
              <line-chart :height="height"  :options="chartStyle" :chart-data="datacollection"></line-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="row info">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="inline">
                start_date : {{form.start_date}}
                <br>
                end_date : {{form.end_date}}
                <br>
                <span>* if start date and end date empty, the data shown is taken from day one of the current month to the end of the current month</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Loss time per line</h4>
            </div>
            <div class="panel-body">
              <bar-chart 
                :height="height" 
                ref="loss_time_per_line" 
                title="loss_time_per_line" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="loss_time_per_line" />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Loss time per responsible</h4>
            </div>
            <div class="panel-body">
              <pie-chart 
                :height="height" 
                ref="loss_time_per_responsible" 
                title="loss_time_per_responsible" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="loss_time_per_responsible" />
            </div>
          </div>
        </div>
        
        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Loss time per department</h4>
            </div>
            <div class="panel-body">
              <pie-chart 
                :height="height" 
                ref="loss_time_per_dept" 
                title="loss_time_per_dept" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="lossTimePerDeptUrl" />
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <bar-chart 
                :height="height" 
                ref="least_avg_productivity_perline" 
                title="least_avg_productivity_perline" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="least_avg_productivity_perline" 
              />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <bar-chart 
                :height="height" 
                ref="least_avg_efficiency_perline" 
                title="least_avg_efficiency_perline" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="least_avg_efficiency_perline" 
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <bar-chart 
                :height="height" 
                ref="least_avg_rate_of_operation_perline" 
                title="least_avg_rate_of_operation_perline" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="least_avg_rate_of_operation_perline" 
              />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
               <bar-chart 
                :height="height" 
                ref="least_avg_rate_of_attendance_perline" 
                title="least_avg_rate_of_attendance_perline" 
                :options="chartStyle" 
                :chart-data="{}" 
                :url="least_avg_rate_of_attendance_perline" 
              />
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import CrudServerTable from "./CrudServerTable.vue";
import LineChart from '../dashboard/LineChart.vue';
import BarChart from '../dashboard/BarChart.vue';
import PieChart from '../dashboard/PieChart.vue';
import axios from 'axios';
import toastr from 'toastr';
import vSelect from 'vue-select';

export default {
  components:{
    CrudServerTable, LineChart, BarChart,PieChart, vSelect
  },

  mounted(){
    this.fetchLines();
    this.initEfficiencyChart();
  },

  watch:{
    'form.start_date' : function(newVal, oldVal) {
      this.form.end_date = newVal;
    },

    'form.type' : function(newval, oldval) {
      this.refreshChart();
    }
  },

  computed:{
    chart_name(){
      return `${this.form.type} chart`.toUpperCase();
    },

    lossTimePerDeptUrl(){
      let url = "./api/dashboard/loss_time_per_dept";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },

    least_avg_efficiency_perline(){
      let url = "./api/dashboard/least_avg_efficiency_perline";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },
    
    least_avg_productivity_perline(){
      let url = "./api/dashboard/least_avg_productivity_perline";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },
    
    least_avg_rate_of_attendance_perline(){
      let url = "./api/dashboard/least_avg_rate_of_attendance_perline";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },
    
    least_avg_rate_of_operation_perline(){
      let url = "./api/dashboard/least_avg_rate_of_operation_perline";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },
    
    loss_time_per_responsible(){
      let url = "./api/dashboard/loss_time_per_responsible";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },
    
    loss_time_per_line(){
      let url = "./api/dashboard/loss_time_per_line";
      let data = this.form;
      let params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
      }).join('&');

      return url +"?"+ params;
    },
  },

  methods:{
    initEfficiencyChart(){

      axios.get("./api/dashboard/efficiency_per_date", {
        params : this.form
      })
        .then(res => res.data)
        .then(res => {
          
          console.log({res})
          let results = {...res, ...this.chartStyle};
          this.datacollection = results;
        })
        .catch(err => {
          console.log(err);
          toastr.error(err);
        });

      
    },

    refreshChart(){
      this.initEfficiencyChart();
      this.$refs.loss_time_per_dept.fetchData();
      this.$refs.loss_time_per_responsible.fetchData();
      this.$refs.loss_time_per_line.fetchData();

      this.$refs.least_avg_efficiency_perline.fetchData();
      this.$refs.least_avg_productivity_perline.fetchData();
      this.$refs.least_avg_rate_of_attendance_perline.fetchData();
      this.$refs.least_avg_rate_of_operation_perline.fetchData();
    },

    fetchLines() {
      axios
        .get("./api/lines/combo")
        .then(res => res.data)
        .then(data => {
          if (data.data) {
            this.lines = data.data.map(line => {
              return line.text;
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    selectOnChange(e){
      console.log({e})
    }
  },

  data(){
    return {
      form :{
        line : [],
        start_date : null,
        end_date : null,
        type : 'efficiency',
      },

      height : 200,
      
      chartStyle : {
        height : 150,
      },

      lines: [],
      types: [
        'efficiency',
        'productivity',
        'rate_of_operation',
        'rate_of_attendance',
      ],
      url: "./api/loss_time_summaries",
      opt: {
        filterByColumn: true,
        requestFunction(data) {
          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function (e) {
              this.dispatch("error", e);
            });
        },
        params: {},
      },
      columns:[
        "report_date",
        "time_start",
        "time_end",
        "lost",
        "line",
        "model",
        "prod_no",
        "N1",
        "responsible",
        "symptom",
        "total_time",
        "man_power",
        "dic",
        "dept_name",
        "disposal",
        "part_no",
      ],
      
      datacollection : {}
    }
  }
}
</script>

<style>

</style>