<template>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="center-block center">
        <label for>{{ current }}</label>
      </div>
      <router-link
        class="prev btn btn-success pull-left"
        :to="{ name: lists[currentIndex - 1], query: $route.query }"
      >Prev</router-link>
      <router-link
        :to="{ name: lists[currentIndex + 1], query: $route.query }"
        class="btn btn-success next pull-right"
      >Next >></router-link>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.current = this.$route.name;
    this.initCurrentIndex();
  },
  data() {
    return {
      currentIndex: null,
      current: null,
      prev: null,
      next: null,
      lists: [
        "production_results",
        "loss_time_reports",
        "change_model_reports",
        "trial_ng_sets",
        "change_member_report",
        // "balance_set_conditions",
        "operation_summaries"
      ]
    };
  },
  methods: {
    initCurrentIndex() {
      this.currentIndex = this.lists.indexOf(this.current);
      if (this.currentIndex < 0) {
        this.currentIndex = this.lists.length - 1;
        this.current = this.lists[this.currentIndex];
      }
    }
  }
};
</script>

<style>
.center {
  text-align: center;
}
</style>
