<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label for>Line Name</label>
              <input type="text" class="form-control" readonly :value="$route.query.line" />
            </div>
            <div class="form-group">
              <label for>Production Date</label>
              <input
                readonly
                :value="$route.query.report_date"
                type="date"
                name="report_date"
                id="report_date"
                class="form-control"
              />
            </div>

            <a href="./home" class="btn btn-info">change line & production date</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {}
};
</script>

<style lang="scss" scoped>
</style>