<template>
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Make New Report</div>
        <div class="panel-body">
          <div class="form-group">
            <label for>Line Name</label>
            <select class="form-control" name="line" id="line" v-model="form.line">
              <option v-for="line in lines" :key="line" :value="line">{{ line }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for>Production Date</label>
            <input
              v-model="form.report_date"
              type="date"
              name="report_date"
              id="report_date"
              class="form-control"
            />
          </div>

          <button @click="next" type="button" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import toastr from "toastr";
import helper from "../helper";
export default {
  data() {
    return {
      lines: [],

      form: {
        line: null,
        report_date: null,
        created_by: null
      }
    };
  },
  methods: {
    next() {
      console.log("next method callled", this.form);
      if (this.form.line == null || this.form.report_date == null) {
        return;
      }

      axios
        .post("./api/report_headers", this.form)
        .then(res => {
          console.log({ res });
          return res.data;
        })
        .then(data => {
          let params = {
            ...data.data,
            report_header_id: data.data.id
          };
          this.$router.push({ name: "all", query: params });
        })
        .catch(error => toastr.error("something went wrong"));
    },

    fetchLines() {
      console.log("fetch lines");
      axios
        .get("./api/lines/combo")
        .then(res => res.data)
        .then(data => {
          if (data.data) {
            this.lines = data.data.map(line => {
              return line.text;
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },

  mounted() {
    this.form.report_date = moment().format("YYYY-MM-DD");
    this.form.created_by = helper.getUsername();
    this.fetchLines();
  }
};
</script>

<style lang="scss" scoped></style>
