<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <h3 class="panel-heading">DATA SCHEDULE PLANNING</h3>
          <div class="panel-body">
            <v-server-table
              ref="schedule_table"
              :url="'./api/schedules'"
              :columns="columns"
              :options="options"
            >
              <router-link
                slot="edit"
                slot-scope="props"
                class="fa fa-edit"
                :to="{ path: 'production_results', query: query(props.row) }"
                :query="props.row"
                >Open</router-link
              >
              <div slot="afterFilter">
                <form action="#" class="form">
                  <div class="form-group">
                    <label for="run_date">Start Date</label>
                    <input
                      type="date"
                      class="form-control"
                      name="run_date"
                      @change="onSearch"
                      v-model="start_date"
                    />
                  </div>

                  <div class="form-group">
                    <label for="run_date">End Date</label>
                    <input
                      type="date"
                      class="form-control"
                      name="run_date"
                      @change="onSearch"
                      v-model="end_date"
                    />
                  </div>

                  <img
                    v-if="loading"
                    src="loading.gif"
                    alt
                    srcset
                    width="32"
                    height="32"
                  />
                </form>
              </div>
            </v-server-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import _ from "lodash";
import Toastr from "toastr";
import moment from "moment";

export default {
  mounted: function() {
    // this.fetchSchedules();
    this.resetDate();
  },

  data() {
    const vm = this;
    return {
      run_date: null,
      start_date: null,
      end_date: null,
      schedules: [], // will be updated by data;
      columns: [
        "edit",
        "rowid",
        "model",
        "lot",
        "serial",
        "qty",
        "size",
        "line",
        "run_date",
        "shift",
      ],
      options: {
        filterByColumn: true,
        headings: {
          edit: "edit",
          rowid: "No",
          model: "Model",
          lot: "Lot",
          serial: "Serial",
          qty: "Qty",
          size: "Size",
          line: "Line",
          alias: "Alias",
          run_date: "Run Date",
          shift: "Shift",
        },
        responseAdapter(resp) {
          var data = this.getResponseData(resp);
          console.log({ resp, data });
          return { data: data.data, count: data.total };
        },
        customFilters: [
          {
            name: "run_date",
            callback: function(row, query) {
              return row.run_date == query;
            },
          },
        ],
      },
      loading: true,
    };
  },

  methods: {
    query(newQuery) {
      let data = {
        line: newQuery.line,
        run_date: newQuery.run_date,
      };
      return {
        ...this.$route.query,
        ...data,
      };
    },

    setSchedule(query) {
      this.$refs.schedule_table.setFilter(query);
    },

    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    },

    fetchSchedules(q = null) {
      this.loading = true;

      axios
        .get("api/schedules", {
          params: q,
        })
        .then((resp) => resp.data)
        .then((data) => {
          console.log(data);
          this.schedules = data.data;
          this.loading = false;
        })
        .catch((error) => {
          console.error(error);
          this.loading = false;
        });
    },

    resetDate() {
      let today = new Date().toISOString().slice(0, 10);
      this.run_date = today;
      this.start_date = today;
      this.end_date = today;
    },

    onSearch() {
      if (this.start_date > this.end_date) {
        Toastr.error("start date should be earlier than end date");
        this.resetDate();
        return;
      }

      const MAX_RANGE = 14;
      let start_date = moment(this.start_date);
      let end_date = moment(this.end_date);
      let diff = end_date.diff(start_date, "days");
      let range_too_much = diff > MAX_RANGE;
      if (range_too_much) {
        Toastr.error("maximum range is " + MAX_RANGE + " days");
        this.resetDate();
        return;
      }

      const q = this.run_date;
      this.search(
        {
          start_date: this.start_date,
          end_date: this.end_date,
        },
        this
      );
    },

    search: _.debounce((q, self) => {
      console.log("debounce");
      self.fetchSchedules(q);
    }, 500),
  },
};
</script>

<style>
.yellow {
  background: yellow !important;
}

.green {
  background-color: greenyellow !important;
}
</style>
