<template>
  <div class="form-group">
    <select class="form-control" name="shift" @change="shiftOnChange" :value="value">
      <option v-for="shift in shifts" :key="shift" :value="shift">{{shift}}</option>
    </select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      shifts: ["A", "B", "C", "N", "Support 1", "Support 2", "Support 3"]
    };
  },

  props: {
    value: {
      default: null
    }
  },

  methods: {
    shiftOnChange(e) {
      // console.log("shift on change", e.target.value);
      this.$emit("on-change", { value: e.target.value });
    }
  }
};
</script>

<style>
</style>