<template>
  <div class="container-fluid">
    <report-header-info v-if="false"></report-header-info>
    <navigations v-if="false"></navigations>

    <crud-server-table
      ref="table"
      :title="'Trial NG Set'"
      :url="'./api/trial_ng_sets'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.report_header_id,
      }"
      :defaultForm="defaultForm"
    ></crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./Navigations.vue";
export default {
  mounted() {},
  data() {
    return {
      columns: ["symptom", "result", "shift"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.report_header_id = this.$route.query.report_header_id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        time_start: "time",
        time_end: "time",
        total_time: "number",
        normal_minute: "number",
        abnormal_minute: "number"
      }
    };
  },
  methods: {},
  components: { ReportHeaderInfo, CrudServerTable, Navigations }
};
</script>

<style></style>
