<template>
  <div>
    <crud-server-table
      ref="table"
      :title="'Actual Direct Operation Hours'"
      :url="'../api/actual_direct_op_hours'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        operation_summary_id: $route.query.operation_summary_id,
        total: '',
      }"
      :defaultForm="defaultForm"
      :excludedForm="excludedForm"
      :noAction="noAction"
      :attrs="attrs"
    ></crud-server-table>
  </div>
</template>

<script>
import helper from '../../helper';
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {},
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      columns: [
        "operation_summary_id",
        "id",
        "model",
        "qty",
        "standard_time",
        "total"
      ],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.operation_summary_id) {
            data.query.operation_summary_id = this.$route.query.operation_summary_id;
          }

          let params = {
            ...data,
            operation_summary_id: this.$route.query.operation_summary_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        qty: "number",
        // standard_time: "number",
        total: "number",
        operation_summary_id: "readOnly"
      },
      excludedForm: ["total", "operation_summary_id", "id"],
      attrs: {
        standard_time: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        }
      }
    };
  },
  methods: {},
  components: { CrudServerTable }
};
</script>

<style></style>
