<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <h2>Report Header List</h2>
          <br />
          <table class="table">
            <thead>
              <th scope="col" class="table-header">Line</th>
              <th scope="col" class="table-header">Schedule Date</th>
              <th scope="col" class="table-header">Report Date</th>
              <th scope="col" class="table-header">Created By</th>
              <th scope="col" class="table-header">Created at</th>
              <th scope="col" class="table-header">Action</th>
            </thead>
            <tbody>
              <tr v-for="report_header in report_headers" :key="report_header.id">
                <td>{{report_header.line}}</td>
                <td>{{report_header.schedule_date}}</td>
                <td>{{report_header.report_date}}</td>
                <td>{{report_header.created_by}}</td>
                <td>{{report_header.created_at}}</td>
                <td>
                  <router-link class="btn btn-info" :to="'/detail/'+report_header.id">Info</router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.loadData();
  },
  data() {
    return {
      report_headers: []
    };
  },
  methods: {
    loadData() {
      axios.get("/api/report_headers").then(response => {
        this.report_headers = response.data;
      });
    }
  }
};
</script>

<style>
.table-header {
  text-align: center;
  font-weight: bold;
}
</style>