<template>
  <div class="container-fluid">
    <!-- Balance Set Condition -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Balance Set Condition</h3>
          </div>
          <div class="panel-body">
            <v-server-table
              ref="table"
              :url="'../api/admin_balance_set_conditions'"
              :columns="columns"
              :options="options"
            ></v-server-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // mounted() {},
  data() {
    return {
      balance_set_conditions: [],
      columns: [
        "report_header_id",
        "model",
        "balance",
        "actual_balance",
        "remark",
        "created_by",
        "created_at",
        "updated_at",
      ],
      options: {
        filterByColumn: true,
        filterable: [
          "report_header_id",
          "model",
          "balance",
          "actual_balance",
          "remark",
          "created_by",
          "created_at",
          "updated_at",
        ],
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
            data.query.balance = "!0";
          }
          let params = {
            ...data,
            report_header_id: this.$route.query.id,
          };

          return axios.get(this.url, {
            params: params,
          });
        },
        responseAdapter(resp) {
          var data = this.getResponseData(resp);
          // console.log({ resp, data });
          return { data: data.data, count: data.total };
        },
      },
    };
  },
  methods: {},
};
</script>

<style>
</style>