<template>
  <div class="container-fluid">
    <crud-server-table
      ref="table"
      :title="'Change Member Report'"
      :url="'../api/change_member_reports'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.id,
      }"
      :defaultForm="defaultForm"
      :noAction="noAction"
      :excludedForm="excludedForm"
    >
      <div slot="is_change-create" slot-scope="data">
        <label for>Is Change</label>
        <div class="form-control">
          <input type="radio" id="YES" value="YES" v-model="data.form.is_change" />
          <label for="YES">YES</label>
          <input type="radio" id="NO" value="NO" v-model="data.form.is_change" />
          <label for="NO">NO</label>
        </div>
      </div>

      <div slot="is_change-edit" slot-scope="data">
        <label for>Is Change</label>
        <div class="form-control">
          <input type="radio" id="YES" value="YES" v-model="data.formEdit.is_change" />
          <label for="YES">YES</label>
          <input type="radio" id="NO" value="NO" v-model="data.formEdit.is_change" />
          <label for="NO">NO</label>
        </div>
      </div>
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {
    // console.log("READ THIS ONLY :::", this.$route);
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      columns: [
        "report_header_id",
        "id",
        "is_change",
        "shift",
        "remark",
        "created_by",
        "created_at",
        "updated_at"
      ],
      excludedForm: [
        "report_header_id",
        "id",
        "created_by",
        "created_at",
        "updated_at"
      ],
      options: {
        filterByColumn: true,
        filterable: [
          "report_header_id",
          "id",
          "is_change",
          "shift",
          "remark",
          "created_by",
          "created_at",
          "updated_at"
        ],
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {}
    };
  },
  methods: {},
  components: { CrudServerTable }
};
</script>

<style></style>
