<template>
  <div class="container-fluid">
    <crud-server-table
      ref="table"
      :title="'Change Model Report'"
      :url="'../api/admin_change_model_reports'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.id,
        total_time: '-',
      }"
      :defaultForm="defaultForm"
      :defaultFormValues="defaultFormValues"
      :excludedForm="excludedForm"
      :noAction="noAction"
    >
      <!-- create -->
      <div slot="time_start-create" class="form-group" slot-scope="props">
        <label for="time_start">Time Start</label>
        <vue-timepicker format="HH:mm" v-model="props.form.time_start"></vue-timepicker>
      </div>

      <div slot="time_end-create" class="form-group" slot-scope="props">
        <label for="time_end">Time end</label>
        <vue-timepicker format="HH:mm" v-model="props.form.time_end"></vue-timepicker>
      </div>

      <div class="form-group" slot="master_category_id-create" slot-scope="props">
        <label for="master_category_id">Master Category</label>
        <select
          name="master_category_id"
          v-model="props.form.master_category_id"
          class="form-control"
        >
          <option
            v-for="(value, key) in master_categories"
            :key="key"
            :value="value.value"
          >{{ value.text }}</option>
        </select>
      </div>
      <!-- end create -->
      <!-- updated -->
      <div slot="time_start-edit" class="form-group" slot-scope="props">
        <label for="time_start">Time Start</label>
        <vue-timepicker format="HH:mm" v-model="props.formEdit.time_start"></vue-timepicker>
      </div>

      <div slot="time_end-edit" class="form-group" slot-scope="props">
        <label for="time_end">Time end</label>
        <vue-timepicker format="HH:mm" v-model="props.formEdit.time_end"></vue-timepicker>
      </div>

      <div class="form-group" slot="master_category_id-edit" slot-scope="props">
        <label for="master_category_id">Master Category</label>
        <select
          name="master_category_id"
          v-model="props.formEdit.master_category_id"
          class="form-control"
        >
          <option
            v-for="(value, key) in master_categories"
            :key="key"
            :value="value.value"
          >{{ value.text }}</option>
        </select>
      </div>
      <!-- end update -->
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
import VueTimepicker from "vue2-timepicker";
export default {
  mounted() {
    // console.log(this.$route);
    this.fetchMasterCategory();
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      columns: [
        "report_header_id",
        "id",
        "prev_model",
        "cause",
        "time_start",
        "next_model",
        "time_end",
        "total_time",
        "normal_minute",
        "abnormal_minute",
        "major_problem",
        "pic",
        "master_category_id",
        "created_by",
        "created_at",
        "updated_at"
      ],
      options: {
        filterByColumn: true,
        filterable: [
          "report_header_id",
          "id",
          "prev_model",
          "time_start",
          "next_model",
          "time_end",
          "total_time",
          "normal_minute",
          "abnormal_minute",
          "major_problem",
          "pic",
          "master_category_id",
          "created_by",
          "created_at",
          "updated_at"
        ],
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        time_start: "time",
        time_end: "time",
        total_time: "number",
        normal_minute: "number",
        abnormal_minute: "number"
      },

      defaultFormValues: {
        time_start: "08:00",
        time_end: "09:00"
      },

      excludedForm: [
        "total_time",
        "report_header_id",
        "id",
        "created_by",
        "created_at",
        "updated_at"
      ],

      master_categories: []
    };
  },
  methods: {
    fetchMasterCategory() {
      axios
        .get("../api/master_categories/combo")
        .then(res => res.data)
        .then(data => {
          this.master_categories = data.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  components: { CrudServerTable, VueTimepicker }
};
</script>

<style></style>
