<template>
  <div class="container-fluid">
    <report-header-info v-if="false"></report-header-info>
    <navigations v-if="false"></navigations>

    <crud-server-table
      ref="table"
      :title="'Change Model Report'"
      :url="'../api/change_model_reports'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.report_header_id,
        total_time: '-',
      }"
      :defaultForm="defaultForm"
      :defaultFormValues="defaultFormValues"
      :excludedForm="excludedForm"
    >
      <!-- updated -->
      <div slot="time_start-edit" class="form-group" slot-scope="props">
        <label for="time_start">Time Start</label>
        <vue-timepicker
          format="HH:mm"
          v-model="props.formEdit.time_start"
        ></vue-timepicker>
      </div>

      <div slot="time_end-edit" class="form-group" slot-scope="props">
        <label for="time_end">Time end</label>
        <vue-timepicker
          format="HH:mm"
          v-model="props.formEdit.time_end"
        ></vue-timepicker>
      </div>

      <div class="form-group" slot="master_category_id-edit" slot-scope="props">
        <label for="master_category_id">Master Category</label>
        <select
          name="master_category_id"
          v-model="props.formEdit.master_category_id"
          class="form-control"
        >
          <option
            v-for="(value, key) in master_categories"
            :key="key"
            :value="value.value"
          >
            {{ value.text }}
          </option>
        </select>
      </div>
      <!-- end update -->
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
import VueTimepicker from "vue2-timepicker";
import vSelect from "vue-select";
export default {
  mounted() {
    // console.log(this.$route);
    this.fetchMasterCategory();
  },
  data() {
    return {
      schedules: [],
      schedule: {},
      columns: [
        "prev_model",
        "cause",
        "time_start",
        "next_model",
        "time_end",
        "total_time",
        "normal_minute",
        "abnormal_minute",
        "major_problem",
        "pic",
        "master_category_id",
      ],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.report_header_id = this.$route.query.report_header_id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function (e) {
              this.dispatch("error", e);
            });
        },
      },
      defaultForm: {
        time_start: "time",
        time_end: "time",
        total_time: "number",
        normal_minute: "number",
        abnormal_minute: "number",
      },

      defaultFormValues: {
        time_start: "08:00",
        time_end: "09:00",
        cause: "Normal",
      },

      excludedForm: ["total_time"],

      master_categories: [],
    };
  },
  methods: {
    fetchMasterCategory() {
      axios
        .get("../api/master_categories/combo")
        .then((res) => res.data)
        .then((data) => {
          this.master_categories = data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    copyOnClick(row) {
      let temp = { ...this.defaultFormValues, ...row };

      console.log({ temp });

      this.$refs.table.setForm(temp);

      this.$refs.table.showModal();

      // reset,
      // this.defaultFormValues = temp;
    },

    setModelSelected(val, type = "form") {
      let table = this.$refs.table;
      table[type]["prev_model"] = val.model;
    },

    setNextModelSelected(val, type = "form") {
      let table = this.$refs.table;
      table[type]["next_model"] = val.model;
    },

    onSearch(search, loading) {
      if (search.length > 0) {
        this.search(loading, search, this);
        loading(true);
      }
    },
    search: _.debounce((loading, search, vm) => {
      let params = { model: search };

      axios
        .get("../api/schedules", { params })
        .then((res) => res.data)
        .then((res) => {
          console.log(res.data, "SCHEDULES");
          vm.schedules = res.data;
          loading(false);
        });
    }, 350),
  },
  components: { CrudServerTable, VueTimepicker, vSelect },
};
</script>

<style></style>
