<template>
  <div class="container-fluid">
    <crud-server-table
      ref="table"
      :title="'Loss Time Reports'"
      :url="'../api/loss_time_reports'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.id,
        production_result_id: $route.query.production_result_id,
        hours: '-',
      }"
      :defaultForm="defaultForm"
      :excludedForm="excludedForm"
      :defaultFormValues="defaultFormValues"
      :noAction="noAction"
      @afterSubmit="afterSubmitIOLT"
    >
      <!-- create -->
      <div slot="time_start-create" class="form-group" slot-scope="props">
        <label for="time_start">Time Start</label>
        <vue-timepicker format="HH:mm" v-model="props.form.time_start"></vue-timepicker>
      </div>

      <div slot="time_end-create" class="form-group" slot-scope="props">
        <label for="time_end">Time end</label>
        <vue-timepicker format="HH:mm" v-model="props.form.time_end"></vue-timepicker>
      </div>

      <div slot="loss_code-create" slot-scope="props">
        <div class="form-group">
          <label for="loss_code">Loss Code</label>
          <select
            name="loss_code"
            class="form-control"
            v-model="props.form.loss_code"
            @change="lossCodeOnChange(props.form.loss_code)"
          >
            <option
              :value="losstime.value"
              :key="losstime.value"
              v-for="losstime in losstimes"
            >{{ losstime.text }}</option>
          </select>
        </div>
      </div>

      <div slot="loss_code_name-create" slot-scope="props">
        <div class="form-group">
          <label for="loss_code_name">Loss Code Name</label>
          <input type="text" readonly class="form-control" v-model="props.form.loss_code_name" />
        </div>
      </div>

      <div slot="dic-create" slot-scope="props">
        <div class="form-group">
          <label for="dic">Dept Incharge</label>
          <select class="form-control" name="dic" v-model="props.form.dic">
            <option :key="dic.value" v-for="dic in dics" :value="dic.value">
              {{
              dic.text
              }}
            </option>
          </select>
        </div>
      </div>

      <!-- create end -->
      <!-- update -->
      <div slot="time_start-edit" class="form-group" slot-scope="props">
        <label for="time_start">Time Start</label>
        <vue-timepicker format="HH:mm" v-model="props.formEdit.time_start"></vue-timepicker>
      </div>

      <div slot="time_end-edit" class="form-group" slot-scope="props">
        <label for="time_end">Time end</label>
        <vue-timepicker format="HH:mm" v-model="props.formEdit.time_end"></vue-timepicker>
      </div>

      <div slot="loss_code-edit" slot-scope="props">
        <div class="form-group">
          <label for="loss_code">Loss Code</label>
          <select name="loss_code" class="form-control" v-model="props.formEdit.loss_code">
            <option
              :value="losstime.value"
              :key="losstime.value"
              v-for="losstime in losstimes"
            >{{ losstime.text }}</option>
          </select>
        </div>
      </div>

      <div slot="dic-edit" slot-scope="props">
        <div class="form-group">
          <label for="dic">Dept Incharge</label>
          <select class="form-control" name="dic" v-model="props.formEdit.dic">
            <option :key="dic.value" v-for="dic in dics" :value="dic.value">
              {{
              dic.text
              }}
            </option>
          </select>
        </div>
      </div>
      <!-- update end -->
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
import "vue2-timepicker/dist/VueTimepicker.css";
import VueTimepicker from "vue2-timepicker";
import axios from "axios";
export default {
  mounted() {
    // console.log("LOSS TIIMEE", this.$route.id);
    this.initLosstimes();
    this.initDics();
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      losstimes: [],
      columns: [
        "report_header_id",
        "id",
        "model",
        "lotno",
        "group",
        "shift",
        "time_start",
        "time_end",
        "hours",
        "man_power",
        "dic",
        "loss_code",
        "loss_code_name",
        "symptom",
        "action",
        "created_by",
        "created_at",
        "updated_at"
      ],
      options: {
        filterByColumn: true,
        filterable: [
          "report_header_id",
          "id",
          "model",
          "lotno",
          "group",
          "shift",
          "time_start",
          "time_end",
          "hours",
          "man_power",
          "dic",
          "loss_code",
          "loss_code_name",
          "symptom",
          "action",
          "created_by",
          "created_at",
          "updated_at"
        ],
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        time_start: "time",
        time_end: "time",
        man_power: "number",
        group: "number"
      },
      defaultFormValues: {
        time_start: "08:00",
        time_end: "09:00"
      },
      excludedForm: [
        "id",
        "hours",
        "actions",
        "report_header_id",
        "created_by",
        "created_at",
        "updated_at"
      ],
      dics: []
    };
  },
  computed: {
    mapLossTime() {
      let res = {};
      this.losstimes.map((val, key) => {
        res[val.value] = val.text;
      });

      return res;
    }
  },
  methods: {
    afterSubmitIOLT() {
      // console.log("afterSubmitIOLT");
      this.$emit("afterSubmit");
    },
    initLosstimes() {
      axios
        .get("../api/master_loss_time/combo")
        .then(res => res.data)
        .then(data => {
          // console.log({ data });
          this.losstimes = data.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    initDics() {
      axios
        .get("../api/dic/combo")
        .then(res => res.data)
        .then(data => {
          // console.log({ data });
          this.dics = data.data;
        })
        .catch(error => {
          console.log(error);
        });
    },

    lossCodeOnChange(key, type = "form") {
      let table = this.$refs.table;
      // console.log({
      //   table,
      //   key
      // });
      table[type]["loss_code_name"] = this.mapLossTime[key];
    }
  },
  components: { CrudServerTable, VueTimepicker }
};
</script>

<style></style>
