<template>
  <div class="container-fluid">
    <report-header-info v-if="false"></report-header-info>
    <navigations v-if="false"></navigations>

    <crud-server-table
      ref="table"
      :title="'Loss Time Reports'"
      :url="'../api/loss_time_reports'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        production_result_id: $route.query.production_result_id,
        report_header_id: $route.query.report_header_id,
      }"
      :defaultFormValues="defaultFormValues"
      :excludedForm="excludedForm"
      :defaultForm="defaultForm"
      :attrs="attrs"
    >
      <!-- update -->
      <div slot="time_start-edit" class="form-group" slot-scope="props">
        <label for="time_start">Time Start</label>
        <vue-timepicker
          v-model="props.formEdit.time_start"
          format="HH:mm"
        ></vue-timepicker>
      </div>

      <div slot="time_end-edit" class="form-group" slot-scope="props">
        <label for="time_end">Time end</label>
        <vue-timepicker
          v-model="props.formEdit.time_end"
          format="HH:mm"
        ></vue-timepicker>
      </div>

      <div slot="loss_code-edit" slot-scope="props">
        <div class="form-group">
          <label for="loss_code">Loss Code</label>
          <select
            v-model="props.formEdit.loss_code"
            class="form-control"
            name="loss_code"
          >
            <option
              v-for="losstime in losstimes"
              :value="losstime.value"
              :key="losstime.value"
            >
              {{ losstime.text }}
            </option>
          </select>
        </div>
      </div>

      <div slot="dic-edit" slot-scope="props">
        <div class="form-group">
          <label for="dic">Dept Incharge</label>
          <select v-model="props.formEdit.dic" class="form-control" name="dic">
            <option v-for="dic in dics" :value="dic.value" :key="dic.value">
              {{ dic.text }}
            </option>
          </select>
        </div>
      </div>
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
import VueTimepicker from "vue2-timepicker";
import vSelect from "vue-select";
import axios from "axios";
import "vue2-timepicker/dist/VueTimepicker.css";
import "vue-select/dist/vue-select.css";
import helper from "../../helper";

export default {
  mounted() {
    this.initLosstimes();
    this.initDics();
    this.fetchResults();
  },
  props: {
    noAction: {
      default() {
        return true;
      },
    },
  },
  data() {
    return {
      columns: [
        "model",
        "lotno",
        "group",
        "shift",
        "time_start",
        "time_end",
        "hours",
        "man_power",
        "part_no",
        "supp_code",
        "supplier",
        "dic",
        "loss_code",
        "loss_code_name",
        "symptom",
        "action",
      ],
      losstimes: [],
      parts: [],
      results: [],
      result: {},
      suppcode: null,
      suppname: null,
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.report_header_id = this.$route.query.report_header_id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function (e) {
              this.dispatch("error", e);
            });
        },
      },
      defaultForm: {
        // man_power : "number",
        group: "number",
        time_start: "time",
        time_end: "time",
      },
      defaultFormValues: {
        time_start: "08:00",
        time_end: "09:00",
      },
      excludedForm: ["actions"],
      dics: [],
      attrs: {
        man_power: {
          step: helper.getStep(),
          lang: "en",
          pattern: helper.getPattern(),
          title: helper.getPatternErrorMessage(),
        },
      },
    };
  },
  computed: {
    mapLossTime() {
      let res = {};
      this.losstimes.map((val, key) => {
        res[val.value] = val.text;
      });
      return res;
    },
  },
  methods: {
    onSearch(search, loading) {
      if (search.length > 0) {
        this.search(loading, search, this);
        loading(true);
      }
    },

    search: _.debounce((loading, search, vm) => {
      let params = { partnumber: search };

      axios
        .get("../api/part_edi", { params })
        .then((res) => res.data)
        .then((res) => {
          console.log(res.data, "PARTSS");
          vm.parts = res.data;
          loading(false);
        });
    }, 350),

    fetchResults() {
      let params = {
        query: {
          report_header_id: this.$route.query.report_header_id,
        },
      };

      axios
        .get("../api/production_results", { params })
        .then((res) => res.data)
        .then((res) => {
          // console.log(res, 'jadsjkal')
          this.results = res.data;
          loading(false);
        });
    },

    modelOnSearch(search, loading) {
      if (search.length > 0) {
        this.searchModel(loading, search, this);
        loading(true);
      }
    },

    searchModel: _.debounce((loading, search, vm) => {
      let params = {
        query: {
          model: search,
          report_header_id: this.$route.query.report_header_id,
        },
      };

      axios
        .get("../api/production_results", { params })
        .then((res) => res.data)
        .then((res) => {
          vm.results = res.data;
          loading(false);
        });
    }, 350),

    setModelSelected(val, type = "form") {
      let table = this.$refs.table;

      table[type]["model"] = val.model;
      table[type]["lotno"] = val.lot_no;
    },

    setPartSelected(val, type = "form") {
      let table = this.$refs.table;

      table[type]["part_no"] = val.partnumber;
      table[type]["supp_code"] = val.suppcode;
      table[type]["supplier"] = val.suppname;
    },
    initLosstimes() {
      axios
        .get("../api/master_loss_time/combo")
        .then((res) => res.data)
        .then((data) => {
          console.log({ data });
          this.losstimes = data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    initDics() {
      axios
        .get("../api/dic/combo")
        .then((res) => res.data)
        .then((data) => {
          console.log({ data });
          this.dics = data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    lossCodeOnChange(key, type = "form") {
      let table = this.$refs.table;
      console.log(
        {
          table,
          key,
        },
        "TABLE LOSS CODE"
      );
      console.log(table[type], "TABLE TYPE");
      table[type]["loss_code_name"] = this.mapLossTime[key];
    },

    copyOnClick(row) {
      let temp = { ...this.defaultFormValues, ...row };

      console.log({ temp });

      this.$refs.table.setForm(temp);

      this.$refs.table.showModal();

      // reset,
      // this.defaultFormValues = temp;
    },
  },
  components: { CrudServerTable, VueTimepicker, vSelect },
};
</script>

<style>
.mt {
  margin-top: 5px;
}
</style>
