<template>
  <div>
    <lost-time-report />
  </div>
</template>

<script>
import lostTimeReport from "./LostTimeReports.vue";

export default {
  components: {
    lostTimeReport,
  },
};
</script>

<style>
</style>