<template>
  <div>
    <change-model />
  </div>
</template>

<script>
import ChangeModel from "./ChangeModel.vue";

export default {
  components: {
    ChangeModel,
  },
};
</script>

<style>
</style>