<template>
  <div class="container-fluid">
    <crud-server-table
      ref="table"
      :title="'Operation Summaries'"
      :url="'../api/operation_summaries'"
      :columns="columns"
      :options="options"
      :additionalForm="additionalForm"
      :defaultForm="defaultForm"
      :excludedForm="excludedForm"
      :attrs="attrs"
      :noAction="noAction"
    >
      <div slot="additionalActions" slot-scope="props">
        <!-- show modal for  -->
        <router-link
          :to="{
            path: '/approve_report/indirect_op_hours_info',
            query: query({ operation_summary_id: props.row.id }),
          }"
          class="btn btn-default mb"
          :noAction="noAction"
        >Indirect Operation Hours</router-link>

        <router-link
          :to="{
            path: '/approve_report/actual_direct_op_hours_info',
            query: query({ operation_summary_id: props.row.id }),
          }"
          class="btn btn-default mb"
          :noAction="noAction"
        >Actual Direct Operation hours</router-link>
      </div>
    </crud-server-table>

    <router-view :noAction="noAction"></router-view>
  </div>
</template>

<script>
import helper from '../../helper';
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {
    // console.log(this.$route);
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      columns: [
        "report_header_id",
        "id",
        "shift",
        "group",
        "efficiency",
        "rate_of_operation",
        "productivity",
        "rate_of_attendance",
        "mp_d1",
        "mp_d2",
        "working_hours",
        "fixed_time",
        "absence_d1",
        "absence_d2",
        "cl_eo",
        "overtime",
        "assist_other_dept_plus",
        "assist_other_dept_min",
        "assist_plus",
        "assist_min",
        "tph",
        "so",
        "created_at",
        "updated_at"
      ],
      additionalForm: {
        report_header_id: this.$route.query.id,
        actions: "", //required for backend to calculated
        efficiency: "", //required for backend to calculated
        rate_of_operation: "", //required for backend to calculated
        productivity: "", //required for backend to calculated
        rate_of_attendance: "", //required for backend to calculated
        tph: "", //required for backend to calculated
        loss_time_operation_summaries_total: "",
        indirect_op_hours_total: "",
        tioh: "",
        dwh: "",
        so: "",
        tst: ""
      },
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        // mp_d1: "number",
        // mp_d2: "number",
        // working_hours: "number",
        // fixed_time: "number",
        // absence_d1: "number",
        // absence_d2: "number",
        // cl_eo: "number",
        // overtime: "number",
        // assist_other_dept_plus: "number",
        // assist_other_dept_min: "number",
        // assist_plus: "number",
        // assist_min: "number",
        // group: "number",
        // so: "number"
      },
      excludedForm: [
        "id",
        "report_header_id",
        "actions",
        "efficiency",
        "rate_of_operation",
        "productivity",
        "rate_of_attendance",
        "tph",
        "loss_time_operation_summaries_total",
        "indirect_op_hours_total",
        "tioh",
        "dwh",
        "tst",
        "created_at",
        "updated_at"
      ],
      attrs: {
        mp_d1: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        },
        mp_d2: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        },
        working_hours: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        },
        fixed_time: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        },
        overtime: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        },
        so: {
          step: helper.getStep(),
          lang : "en",
          pattern : helper.getPattern(),
          title : helper.getPatternErrorMessage(),
        }
      }
    };
  },
  methods: {
    query(newQuery) {
      let data = {
        ...this.$route.query,
        ...newQuery
      };

      console.log({ data });

      return data;
    }
  },
  components: { CrudServerTable }
};
</script>

<style>
.mb {
  margin-bottom: 5px;
}
</style>
