<template>
  <div class="container-fluid">
    <crud-server-table
      ref="table"
      :title="'Production Results'"
      :url="'../api/admin_production_results'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.id,
      }"
      :defaultForm="defaultForm"
      :formType="formType"
      :attrs="attrs"
      :noAction="noAction"
      :excludedForm="excludedForm"
      @afterSubmit="afterSubmitPR"
    ></crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {
    // console.log(this.$route);
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      production_date: null,
      production_results: [],
      excludedForm: [
        "report_header_id",
        "created_by",
        "created_at",
        "updated_at",
        "id"
      ],
      columns: [
        "report_header_id",
        "id",
        "model",
        "lot_no",
        "lot_qty",
        "shift",
        "input",
        "total_input",
        "balance",
        "output",
        "total_output",
        "actual_balance",
        "ocs_balance",
        "remark",
        "created_by",
        "created_at",
        "updated_at"
      ],
      options: {
        filterByColumn: true,
        filterable: [
          "report_header_id",
          "model",
          "lot_no",
          "lot_qty",
          "shift",
          "input",
          "total_input",
          "balance",
          "output",
          "total_output",
          "actual_balance",
          "ocs_balance",
          "remark",
          "created_by",
          "created_at",
          "updated_at"
        ],
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        input: "number",
        lot_qty: "number",
        total_input: "number",
        balance: "number",
        output: "number",
        total_output: "number",
        actual_output: "number",
        ocs_output: "number",
        actual_balance: "number",
        ocs_balance: "number"
      },
      formType: {},
      attrs: {
        lot_qty: { min: 0 },
        input: { min: 0 },
        total_input: { min: 0 },
        balance: { min: 0 },
        output: { min: 0 },
        total_output: { min: 0 },
        actual_balance: { min: 0 },
        ocs_balance: { min: 0 }
      }
    };
  },
  methods: {
    afterSubmitPR() {
      // console.log("afterSubmitPRI");
      this.$emit("afterSubmit");
    }
  },
  components: { CrudServerTable }
};
</script>

<style>
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
</style>
