<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <h4 class="text-center">LINE</h4>
          <h2 class="text-center">{{ $route.query.line }}</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <h4 class="text-center">PRODUCTION DATE</h4>
          <h2 class="text-center">{{ $route.query.report_date | formatDate }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <h4 class="text-center">Already Approved By</h4>
          <ul id="approvals" ref="listApproval">
            <li v-for="user in users" :key="user.name" class="center">
              <span class="font-size">
                {{ user.status }} #
                <b>{{ user.user_approve }}</b> #
                <b>on {{ user.approval_time | formatDateTime }}</b>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
export default {
  mounted() {
    this.userApproval();
  },
  data() {
    return {
      users: []
    };
  },
  methods: {
    userApproval() {
      let ReportId = this.$route.query.id;
      axios
        .get("../api/listapproval/" + ReportId)
        .then(data => {
          return data.data;
        })
        .then(data => {
          // console.log("ListApproval ::: ", { data });
          this.users = data;
        })
        .catch(error => {
          console.log(error);
        });
      // console.log("Route ID", this.$route.query.id);
    }
  },
  filters: {
    formatDate: function(date) {
      return moment(date).format("Do MMMM YYYY");
    },
    formatDateTime: function(date) {
      return moment(date).format("ddd - Do MMM YYYY - HH:mm:ss");
    }
  }
};
</script>

<style lang="scss" scoped>
.font-size {
  font-size: 17px;
}
.center {
  text-align: center;
}
</style>