<template>
  <div class="container-fluid">
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Report Header Lists</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <span class="bg-warning">*kolom count untuk membantu supervisi, apakah pic input data atau tidak.</span>
              <v-server-table
                ref="table"
                :url="'../api/report_header_lists?orderBy=report_date'"
                :columns="columns"
                :options="options"
                @row-click='rowOnClick'
              >
                <div slot="actions" slot-scope="props">
                  <!-- <button class="btn btn-info mb" @click.prevent="showDetail(props.row)">
                    <i class="fa fa-eye"></i> Open
                  </button> -->
                  <router-link target="_blank" :to="{ path: '/approve_report', query: props.row }" class="btn btn-info mb">
                    <i class="fa fa-eye"></i> Open
                  </router-link>
                </div>
              </v-server-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import _ from "lodash";
import axios from "axios";
// import toastr from "toastr";
export default {
  mounted() {},
  data() {
    return {
      columns: [
        "actions",
        "report_date",
        "line",
        "created_by",
        "created_at",
        "name",
        "approval_time",
        "production_results_count",
        "lost_time_reports_count",
        "change_model_reports_count",
        "trial_ng_sets_count",
        "change_member_reports_count",
        "summaries_count",
        "indirect_op_hours_count",
        "actual_direct_op_hours_count",
        // "user_id",
      ],
      tableData: [],
      options: {
        filterByColumn: true,
        filterable: [
          "report_date",
          "line",
          "created_by",
          "created_at",
          "user_id",
          "name",
          "approval_time",
          "production_results_count",
        "lost_time_reports_count",
        "change_model_reports_count",
        "trial_ng_sets_count",
        "change_member_reports_count",
        "summaries_count",
        "indirect_op_hours_count",
        "actual_direct_op_hours_count",
        ],
        orderBy: { ascending: false },
        responseAdapter(resp) {
          var data = this.getResponseData(resp);
          console.log("Report Header List", { resp, data });
          return { data: data.data, count: data.total };
        },
        tableColumns() {
          this.columns.unshift("actions");
          return this.columns;
        },
        fullForm() {
          return {
            ...this.form,
            ...this.additionalForm
          };
        },
        computedFormType() {
          return typeof formType != "undefined" ? formType[key] : "text";
        },
        rowClassCallback(row) {
          let className = "";

          console.log(row);
          if (row.status != null) {
            className += " yellow ";
          }

          if (row.status == 5) {
            className = " green ";
          }

          return className;
        }
      }
    };
  },
  methods: {
    getDefaultType(key) {
      if (this.defaultForm) {
        if (this.defaultForm[key]) return this.defaultForm[key];
      }

      return "text";
    },
    showDetail(x) {
      // console.log("Show Detail Clicked", x);
      let params = {
        ...x
      };
      this.$router.push({ path: "/approve_report", query: params });
    },

    rowOnClick({row,  event}){
      console.log({row,event})
    }
  }
};
</script>

<style>
.yellow {
  background-color: yellow !important;
}
.green {
  background-color: green !important;
  color: white !important;
}
</style>