<template>
  <div class="container-fluid">
    <crud-server-table
      ref="table"
      :title="'Trial NG Set'"
      :url="'../api/trial_ng_sets'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.id,
      }"
      :defaultForm="defaultForm"
      :noAction="noAction"
      :excludedForm="excludedForm"
    ></crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {},
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      trial_ng_sets: [],
      columns: [
        "report_header_id",
        "id",
        "symptom",
        "result",
        "shift",
        "created_by",
        "created_at",
        "updated_at"
      ],
      options: {
        filterByColumn: true,
        filterable: [
          "report_header_id",
          "id",
          "symptom",
          "result",
          "shift",
          "created_by",
          "created_at",
          "updated_at"
        ],
        requestFunction(data) {
          if (this.$route.query.id) {
            data.query.report_header_id = this.$route.query.id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        time_start: "time",
        time_end: "time",
        total_time: "number",
        normal_minute: "number",
        abnormal_minute: "number"
      },
      excludedForm: [
        "report_header_id",
        "id",
        "created_by",
        "created_at",
        "updated_at"
      ]
    };
  },
  methods: {},
  components: { CrudServerTable }
};
</script>

<style></style>
