// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap/dist/css/bootstrap";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import"~toastr/toastr";

@import "~vue-select/dist/vue-select.css";

.navbar-static-top {
    z-index: 998;
    border-width: 0 0 1px;
}