<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <br />
        <br />
        <div class="row">
          <div class="panel">
            <div class="panel-body">
              <div class="col-md-10">
                <h3>Approval Config</h3>
              </div>
              <div class="col-md-2">
                <!-- push router ke form membuat data -->
                <router-link class="btn btn-primary w-100" to="/create">+ Tambah</router-link>
              </div>
            </div>
            <br />
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">User ID</th>
                  <th scope="col">User Create</th>
                  <th scope="col">create at</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- menampilkan data ke table -->
                <tr v-for="approval_config in approval_configs" :key="approval_config.id">
                  <td>{{person.status}}</td>
                  <td>{{person.user_id}}</td>
                  <td>{{person.user_create}}</td>
                  <td>{{person.created_at}}</td>
                  <td>
                    <router-link class="btn btn-warning" :to="'/detail/'+approval_config.id">Update</router-link>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CrudServerTable from "../../components/CrudServerTable.vue";
export default {
  data() {
    return {
      approval_configs: []
    };
  },
  methods: {
    loadData() {
      axios.get("http://localhost:8001/api/approval_config").then(response => {
        this.approval_configs = response.data;
      });
    }
  },
  components: {
    CrudServerTable
  }
};
</script>

<style>
</style>